{% extends 'core/common.html' %}
{% block title %}
	Nosotros
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-us.jpg' %}{% endblock %}



{% block content %}
 <div class="row">
	<div class="col-lg-3 col-md-4 offset-lg-1">
       <img class="img-fluid avatar" src="{% static 'core/img/trabajo_basura.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Demonscript!!!..</h2>  
        <p>desarrollador web y Traficante de Gomitas en Internet</p> 
        <p>Soy un proyecto en el que no tienes que pedir permiso para participar en él<br> consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
    </div>
 </div>
{% endblock %}